/* globalité des formulaires de gestion côté administrateur */

.ficheAjout,
.ficheAjoutClient,
.ficheAjoutAppareil {
    width: 85%;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(235, 235, 235, 0.6);
    box-shadow: 0 0 40px rgba(37, 29, 92, 0.6);
    padding: 50px 15px;
    text-align: center;
    color:white;
    margin:auto;
    background-color: rgba(112, 13, 13, 0.27);
}

/* Design des label intégrés dans les formulaires côté administrateur */
.ficheAjout label,
.ficheAjoutClient label,
.ficheAjoutAppareil label {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    text-shadow: 0 0 5px rgba(8,7,16,0.8);
    text-align: center;
}

/* gestion des différents inputs & select côté administrateur */

.ficheAjoutClient input[type=text],
.ficheAjoutAppareil input[type=text],
.client select,
.ficheAjoutClient select,
.ficheAjoutAppareil select {
    width: (100% - 10px);
    height: 40px;
    padding: 10px 30px;
    margin: 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .client select:focus,
  .ficheAjoutClient select:focus,
  .ficheAjoutAppareil select:focus {
    background-color: #b1a8e7;
  }


  .ficheAjoutClient option,
  .ficheAjoutAppareil option {
    font-size: 16px;
  }

  /* cadrage et positionnement des différents blocs */

  .ficheAjoutClient div,
  .ficheAjoutAppareil div {
    display: inline-block;
    margin-bottom: 40px;
}

/* Design des sous titres */ 
.ficheAjoutClient h3,
.ficheAjoutAppareil h3 {
    border-top: 1px solid rgb(255, 255, 255);
    font-size: 22px;
    letter-spacing: 0.5em;
    padding: 10px 0px;
    background-image: linear-gradient(to bottom, rgba(37, 29, 92, 0.9), rgba(112, 13, 13, 0));
    margin-bottom: 10px;
    border-radius: 200px 200px 0px 0px;

}




/* Design côté emplyé centré principalement sur les boutons de type radio */

.choixRole {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label input[type="radio"] {
  margin-right: 10px;
}

.admin input[type="radio"],
.user input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.admin input[type="radio"] + span,
.user input[type="radio"] + span {
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
}

.admin input[type="radio"]:checked + span,
.user input[type="radio"]:checked + span {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.admin input[type="radio"]:checked + span:before,
.user input[type="radio"]:checked + span:before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  margin-right: 5px;
}

.admin input[type="radio"]:not(:checked) + span:hover,
.user input[type="radio"]:not(:checked) + span:hover {
  background-color: #ddd;
  cursor: pointer;
}